<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFirstStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FD3FAC91C1CC93B002F89C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD3FADD1C1CC93B002F89C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD3FAE81C1CC93B002F89C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
